@media only screen and (max-width: 1200px) {
    .wrap { height: 150vh; }
    .list { height: 140vh; }
}
@media only screen and (max-width: 1550px) {
    .list { 
        height: 130vh;
        flex-basis: 50vw;
    }
}
@media only screen and (min-width: 1600px){
    .list {
        height: 100vh;
        flex-basis: 40vw;
    }
}
@media only screen and (max-width: 1024px){
    .wrap { height: 200vh;}
    .list {
        height: 170vh;
        flex-basis: 60vw;
    }
}
@media only screen and (max-width: 950px) {
    .wrap { display: block; height: 20vh;}
    .list { 
        height: 100vh;
        flex-basis: 100vw;
    } 
    .main {
        flex-grow: 0;
        height: 50vh;
    }
    .footer {flex-grow: 1;}
}
@media only screen and (max-width: 540px){
    .wrap {
        display: block;
        height: 150vh;
    }
    .list {
        height: 160vh;
        flex-basis: 100vw;
    }
    .main {
        flex-grow: 5;
    }
    .year-city {
        flex-direction: column;
    }
}